<ion-view view-title="Ajuda">
    <ion-content class="padding">
    <p><h3>Saiba mais </h3></p>
    <p><h5>Listamos as princiapais possíveis dúvidas para ajudá-lo</h5></p>

    <div class="card">
        <div class="item item-divider">Taxa de Juros</div>
        <div class="item item-text-wrap">
        <p class="texto">Taxa de juros é uma taxa percentual que é cobrada periodicamente – pode ser ao dia (ad), ao mês (am), ao bimestre (ab), ao semestre (as), ao ano (aa) - sobre o valor do empréstimo.</p>
        <p class="texto"><strong>Neste aplicativo utilizamos a taxa anual(a.a).</strong></p>
      </div>
    </div>
  <div class="card">
    <div class="item item-divider">Amortização</div>
      <div class="item item-text-wrap">
        <div>
        <p class="texto">Com base em <strong>Halter (2013, p.41)</strong> pode-se definir a amortização como sendo a eliminação feita gradualmente de uma dívida através de pagamentos periódicos.</p>
        <p class="texto">Amoritização extra é no caso uma quantia que será retirada do saldo devedor. <br /><br />
          Um exemplo:
          Suponha que você esteja financiando <strong>R$300.000,00</strong> em <strong>300 meses</strong>, em 12 meses você juntou uma
          quantia <strong>'x'</strong> com seu <strong>13<sup>º</sup></strong> salário e deseja aplicado em cima desse montante, esse quantia <strong>'x'</strong> é
          chamado de amortização extra.
        </p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">Tabela SAC</div>
        <div class="item item-text-wrap">
          <div>
          <p class="texto">Usada no sistema de amortização <strong>SAC</strong>, tem sua denominação derivada  de  sua principal característica; o valor da parcela de amortização igual sobre o saldo devedor ao longo de todo o período de financiamento. <strong>(SOBRINHO, 1998)</strong>.</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="item item-divider">Tabela PRICE</div>
          <div class="item item-text-wrap">
            <div>
            <p class="texto">Usada no sistema de francês amortização, de acordo <strong>Sobrinho (1998)</strong>, essa sistema é mais conhecido no Brasil como <strong>Tabela PRICE</strong> e é caracterizado por conter prestações periódicas iguais e sucessivas.</p>
            </div>
          </div>
        </div>

  </ion-content>
</ion-view>
