<ion-view view-title="Ajuda">
  <!--<ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon" href="#/tab/ajuda"></button>
  </ion-nav-buttons>-->
  <ion-content class="padding">
    <p><h3>Como podemos</h3></p>
    <p><h5>te ajudar?</h5></p>

    <div class="card">
        <div class="item item-text-wrap">
            Quero saber qual tabela usar
        </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
          O que é amortização?
      </div>
    </div>
    <div class="card">
        <div class="item item-text-wrap">
           Sei a taxa mensal, mas não sei a anual
        </div>
    </div>
  </ion-content>
</ion-view>
