<ion-view view-title="Início">

<div class="conteudo">
<ion-content class="padding ">

      <h2 class="wow fadeInUp" data-wow-delay="2s">Simule o seu financiamento</h2>
      <h6>Realize amortização extra e diminua o prazo ou o valor da prestação</h6>



<div class="buttons">
  <button class="button button-block btn-success1" ng-click="paraFinanciamento()">Financiamento</button>
  <button class="button button-block btn-success1" ng-click="paraAmortizacao()">Amortização</button>
  <button class="button button-block btn-success1" ng-click="paraAjuda()">Quero saber mais </button>
</div>










  </ion-content>
</div>
</ion-view>
