<ion-view view-title="Amortização">

  <ion-content class="padding">
    <form ng-submit="submit_div()" name="myForm" novalidate>
      <div class="form-group ">
        <label  class="col-form-label required" ng-class="{ 'has-error' : myForm.saldoDevedor.$invalid && (myForm.$submitted || myForm.saldoDevedor.$touched)}" ><strong>Meu saldo devedor é:</strong></label>
        <input type="digit" id="currency" class="form-control" name="saldoDevedor" placeholder="R$0,00"  ng-model="mod.saldoDevedor" data-affixes-stay="true" data-prefix="R$ " data-thousands="." data-decimal=","  ng-click="mascaraAmort()"  required>
        <span style="color:red" class="has-error-msg" ng-show="myForm.saldoDevedor.$error.required && (myForm.$submitted || myForm.saldoDevedor.$touched)">Por favor, informe o saldo devedor.</span>
      </div>
      <div class="form-group">
          <label class="col-form-label required" ng-class="{ 'has-error' : myForm.amortizacaoExtra.$invalid && (myForm.$submitted || myForm.amortizacaoExtra.$touched)}"><strong>O valor da minha amortização extra é:</strong></label>
          <input type="digit" id="currency1" class="form-control" name="amortizacaoExtra" placeholder="R$0,00"  ng-model="mod.AmortizacaoExtra" data-affixes-stay="true" data-prefix="R$ " data-thousands="." data-decimal=","  ng-click="mascara1()"  required>
          <span style="color:red" class="has-error-msg" ng-show="myForm.amortizacaoExtra.$error.required && (myForm.$submitted || myForm.amortizacaoExtra.$touched)">Por favor, informe o valor da amortização extra.</span>
      </div>
        <div class="form-group ">
        <label class="col-form-label required" ng-class="{ 'has-error' : myForm.juros.$invalid && (myForm.$submitted || myForm.juros.$touched)}"><strong>Minha taxa de juros anual é:</strong></label>
          <input type="digit" class="form-control" name="juros" placeholder="0.0000%" ng-model="mod.juros" ui-percentage-mask="4" required>
          <span style="color:red" class="has-error-msg" ng-show="myForm.juros.$error.required && (myForm.$submitted || myForm.juros.$touched)">Por favor, informe a taxa de juros.</span>
      </div>

      <div class="form-group">
          <label  class="col-form-label required" ng-class="{ 'has-error' : myForm.faltam.$invalid && (myForm.$submitted || myForm.faltam.$touched)}"><strong>Quantos meses tenho para pagar o meu saldo devedor:</strong></label>
          <input type="number" class="form-control" onkeyup="somenteNumerosMeses(this);" name="faltam" placeholder="numérico"  ng-model="mod.faltam" required>
          <span style="color:red" class="has-error-msg" ng-show="myForm.faltam.$error.required && (myForm.$submitted || myForm.faltam.$touched)">Por favor, informe a quantidade de meses.</span>
      </div>
      <div class="form-group">
            <label  class="col-form-label required" ng-class="{ 'has-error' : myForm.opcao.$invalid && (myForm.$submitted || myForm.opcao.$touched)}"><strong>Estou realizando uma amortização extra e desejo:</strong></label>
            <ion-radio class="opcao" ng-model="prazoPrestacao"  value="1" ng-value="1" ng-click="switchRadio(1)">Diminuir o prazo</ion-radio>
            <ion-radio ng-model="prazoPrestacao"  value="2" ng-value="2" ng-click="switchRadio(2)">Diminuir valor da prestação</ion-radio>
    </div>
    <div class="form-group">
      <label class="col-form-label required"ng-class="{ 'has-error' : myForm.tabela.$invalid && (myForm.$submitted || myForm.tabela.$touched)}"  name="tabela"><strong>Qual a tabela do meu financiamento?</strong></label>
      <select ng-init="mod.tabela = mod.tabela || 'none'" ng-model="mod.tabela" class="form-control" required>
          <option value="none">Selecione</option>
          <option value="price">PRICE</option>
          <option value="sac">SAC</option>
        </select>
      </div>
      <button type="submit" class="btn btn-success1 btn-lg btn-block">Calcular</button>
      <button type="reset" class="btn btn-secondary btn-lg btn-block" ng-click="reset()">Limpar formulário</button>
    </form>



<!-- Tabela SAC-->

<br />

      <thead ng-show="grid.length">
        <div class="alert alert-warning" role="alert" ng-repeat="g in grid" ng-if="$last" >
          <p class="texto">
            Hoje, o valor da prestação a pagar é:<strong> R$ {{g.totalHoje}}</strong>.<br />
            Que é a soma da prestação no período <strong> 1 </strong> de valor igual a <strong> R$ {{g.hoje}}</strong> , mais o valor da amortização extra igual a <strong>{{mod.AmortizacaoExtra}} </strong>.
          </p>
        </div>

      </thead>


<div class="table-responsive-sm">
  <table class="table table-bordered table-sm">
    <thead ng-show="grid.length" ng-if="mod.inactive1 == true && mod.faltam >=2">
      <tr class="thead-dark">
        <th>Valor total de juros</th>
        <th>Valor total de prestações</th>
      </tr>
      <tr ng-repeat="g in grid" ng-if="$last">
      <th> R$ {{g.totalJuros}}</th>
      <th> R$ {{g.totalParcelas}}</th>
    </tr>
  </table>
</div>

<div class="table-responsive-sm">
    <table class="table table-bordered table-sm">
      <thead ng-show="grid.length" ng-if="mod.inactive1 == true && mod.faltam >=2">
        <tr class="thead-dark">
          <th>Período</th>
          <th>Valor da parcela de juros</th>
          <th>Prestação</th>
          <th>Saldo devedor</th>
        </tr>
      <tr ng-repeat="g in grid" ng-if="mod.inactive1 == true && mod.faltam >=2">
          <th> {{g.periodo}} </th>
          <th> R$ {{g.taxa}}</th>
          <th> R$ {{g.prestacao}} </th>
          <th> R$ {{g.saldoDevedor}}</th>
    </tr>
  </thead>
</table>
</div>
    <!-- Essa tabela somente para aparecer se opção 1 for a price -->




    <div class="table-responsive-sm">
      <table class="table table-bordered table-sm">
      <thead ng-show="grid.length" ng-if="mod.inactive2 == true && mod.faltam>=1">
        <tr class="thead-dark">
          <th>Total de juros</th>
          <th> Total de prestações</th>
        </tr>
        <tr ng-repeat="g in grid" ng-if="$last">
        <td> R$ {{g.totalJuros}}</td>
        <td> R$ {{g.totalParcelas}}</td>
      </tr>
    </thead>
    </table>
  </div>
    <!-- Mexendo aqui-->
<div class="table-responsive-sm">
  <table class="table table-bordered table-sm">
    <thead ng-show="grid.length" ng-if="mod.inactive2 == true && mod.faltam>=1">
      <tr class="thead-dark">
        <th>Período</th>
        <th>Valor da parcela de juros</th>
        <th>Prestação</th>
        <th>Saldo devedor</th>
      </tr>

    <tr ng-repeat="g in grid" ng-if="mod.inactive2 == true && mod.faltam>=1">
    <td> {{g.periodo}} </td>
    <td> R$ {{g.taxa}}</td>
    <td> R$ {{g.prestacao}} </td>
    <td> R$ {{g.saldoDevedor}}</td>
  </tr>
  </thead>
</table>
</div>

  </ion-content>
</ion-view>
