<ion-view view-title="Início">
  <ion-content class="padding">
    <header>

    </header>
<main>

  <div class="content-inicio">
    <h2>Simule o seu financiamento</h2>
    <h6>Realize amortização extra e diminuia o prazo ou o valor da prestação</h6>
  </div>
  <div class="list card">

    <a href="#" class="item item-icon-left">
      <i class="icon ion-home"></i>
      Enter home address
    </a>

    <a href="#" class="item item-icon-left">
      <i class="icon ion-ios-telephone"></i>
      Enter phone number
    </a>

    <a href="#" class="item item-icon-left">
      <i class="icon ion-wifi"></i>
      Enter wireless password
    </a>

    <a href="#" class="item item-icon-left">
      <i class="icon ion-card"></i>
      Enter card information
    </a>
  </div>

</main>
<footer>
  &copy;Tamires Lelis
</footer>


</div>


  </ion-content>

</ion-view>
