<ion-view view-title="Financiamento">

  <ion-content class="padding">

<form ng-submit="submit()" name="myForm" novalidate>
  <div class="form-group row" >
    <label  class="col-7 col-sm-4  col-form-label required" ng-class="{ 'has-error' : myForm.valorFinanciado.$invalid && (myForm.$submitted || myForm.valorFinanciado.$touched)}" ><strong>Valor financiado</strong></label>
    <div class="col-5 col-sm-4">
      <input type="digit" id="currency" class="form-control" name="valorFinanciado" placeholder="R$0.000,00"  ng-model="model.valorFinanciado" data-affixes-stay="true" data-prefix="R$ " data-thousands="." data-decimal=","  ng-click="mascara()"  required>
    </div>
    <span style="color:red" class="has-error-msg" ng-show="myForm.valorFinanciado.$error.required && (myForm.$submitted || myForm.valorFinanciado.$touched)">Por favor, informe o valor financiado.</span>
  </div>
  <div class="form-group row">
    <label class="col-7 col-sm-4 col-form-label required" ng-class="{ 'has-error' : myForm.juros.$invalid && (myForm.$submitted || myForm.juros.$touched)}"><strong>Taxa de juros anual</strong></label>
    <div class="col-5 col-sm-4">
      <input type="digit" class="form-control" name="juros" placeholder="0.0000%" ng-model="model.juros" ui-percentage-mask="4" required>
    </div>
    <span style="color:red" class="has-error-msg" ng-show="myForm.juros.$error.required && (myForm.$submitted || myForm.juros.$touched)">Por favor, informe a taxa de juros.</span>
  </div>
  <div class="form-group row">
    <label  class="col-7 col-sm-4 col-form-label required" ng-class="{ 'has-error' : myForm.periodo.$invalid && (myForm.$submitted || myForm.periodo.$touched)}"><strong>Quantos de meses</strong></label>
    <div class="col-5 col-sm-4">
      <input type="number" class="form-control" name="periodo" placeholder="numérico"  ng-model="model.periodo" required>
    </div>
    <span style="color:red" class="has-error-msg" ng-show="myForm.periodo.$error.required && (myForm.$submitted || myForm.periodo.$touched)">Por favor, informe a quantidade de meses.</span>
  </div>
  <div class="form-group row">
    <label class="col-7 col-sm-4 col-form-label input-label required"ng-class="{ 'has-error' : myForm.tabela.$invalid && (myForm.$submitted || myForm.tabela.$touched)}"  name="tabela"><strong>Tabela</strong></label>
  <div class="col-5 col-sm-4">
      <select ng-init="model.tabela = model.tabela || 'none'" ng-model="model.tabela" class="form-control" required>
        <option value="none">Selecione</option>
        <option value="price">PRICE</option>
        <option value="sac">SAC</option>
      </select>
    </div>
    </div>
  <button type="submit" class="btn btn-success btn-lg btn-block">Gerar</button>
</form>


  <div class="table-responsive-sm">
    <table class="table">
      <thead  ng-show="grid.length">
        <tr class="thead-dark">
          <th scope="col">Valor total de juros</th>
          <th scope="col">Valor total de prestações</th>
        </tr>
      <tr ng-repeat="g in grid" ng-if="$last">
        <th class="table-danger"> R$ {{g.totalJuros}}</th>
        <th class="table-light"> R$ {{g.totalParcelas}}</th>
      </tr>
      </thead>
    </table>
  </div>

  <div class="table-responsive-sm">
    <table class="table table-bordered table-sm">
      <thead  ng-show="grid.length">
        <tr class="thead-dark">
            <th>Período</th>
            <th>Parcela de juros</th>
            <th >Prestação</th>
            <th >Saldo devedor</th>
          </tr>
          <tr ng-repeat="g in grid">
              <th> {{g.periodo}} </th>
              <th>R$ {{g.taxa}}</th>
              <th>R$ {{g.prestacao}}</th>
              <th>R$ {{g.saldoDevedor}}</th>
            </tr>
        </thead>
      </table>

      </div>

  </ion-content>
</ion-view>
