
<ion-view view-title="Tabelas">
  <ion-content class="padding">

    <p><h3>Tabela SAC</h3></p>
    <p>Pertence ao sistema de amortização constante (SAC), cuja sua principal
    característica é o valor da parcela de amortização ser igual sobre o saldo
    devedor ao longo de todo o período do financiamento.  <cite>(SOBRINHO,1998)</cite></p>

    <p><h3>Tabela PRICE</h3></p>
    <p>Pertence ao sistema frânces de amortização (PRICE), é caracterizado
    por conter prestações periódicas iguais e sucessivas. <cite>(SOBRINHO,1998)</cite></p>
    <button class="button icon ion-ios-arrow-back" ng-click="goBack()" nav-direction="back">Go Back</button>
  </ion-content>
</ion-view>
