
<ion-tabs class="tabs-icon-top tabs-background-royal ">

  <!-- Dashboard Tab -->
  <ion-tab title="Início" icon-off="ion-ios-home" icon-on="ion-ios-home" href="#/tab/inicio">
    <ion-nav-view name="tab-inicio"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Financiamento" icon-off="ion-calculator" icon-on="ion-calculator" href="#/tab/financiamento">
    <ion-nav-view name="tab-financiamento"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Amortização" icon-off="ion-cash" icon-on="ion-cash" href="#/tab/amortizacao">
    <ion-nav-view name="tab-amortizacao"></ion-nav-view>
  </ion-tab>


  <!-- Account Tab -->
 <ion-tab title="Ajuda" icon-off="ion-ios-icon ion-help" icon-on="icon ion-help" href="#/tab/ajuda">
    <ion-nav-view name="tab-ajuda"></ion-nav-view>
  </ion-tab>


</ion-tabs>
