/* Empty. Add your own CSS if you like */

*{
margin: 0;
padding: 0;}

.table-responsive-sm{
  margin-top: 15px;
}

.required:after {
  content:" *";
  color: red;
}

.has-error-msg{
  margin-top:  4px;
  font-size: 12px;
}
.btn-success1 {
  color: #fff;
  background-color: #33cd5f;
  border-color:  #33cd5f;
}
.content-inicio{
  background: rgba(255, 255, 255, 0.7);
  padding: 25px;
  margin: 0px;

}

.content-inicio h2,h6{
   text-align: center;
}
#menu{
  width: 720px;
  margin: auto;

}
#cards{
  height: 440px;
  width: 392px;
}
.row1{
  margin-left: 0px;
  margin-right: 0px;
}
.card_menu1{
  height: 100%;
  width: 70%;
}
.card_menu2{
  height: 100%;
  width: 30%;
}
.padding{

  /*background-image: url("../img/money.jpg") ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;*/
  background-color: #F2FFFC;
}
a{
  text-align: center;
}

footer{
  text-align: center;
}
