/* Empty. Add your own CSS if you like */

*{
margin: 0;
padding: 0;}

.table-responsive-sm{
  margin-top: 15px;
}

.required:after {
  content:" *";
  color: red;
}

.has-error-msg{
  margin-top:  4px;
  font-size: 12px;
}
.btn-success1 {
  color: #fff;
  background-color: #33cd5f;
  border-color:  #33cd5f;
}
.padding {

  text-align: center;
  /*background-image: url("../img/money.jpg") ;
  background-repeat: no-repeat;
  background-position: center;
*/
}
.padding h2{
  text-align: center;
  padding: 30px;
}
.padding h6{
   text-align: center;
   padding: 25px;
   color: blue;
   background-color: #F2FFFC;
   opacity: 0.5;
}
form{
  text-align: left;
}

#menu{
  width: 720px;
  margin: auto;

}
#cards{
  height: 440px;
  width: 392px;
}
.row1{
  margin-left: 0px;
  margin-right: 0px;
}
.card_menu1{
  height: 100%;
  width: 70%;
}
.card_menu2{
  height: 100%;
  width: 30%;
}
.padding{

  /*background-image: url("../img/money.jpg") ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;*/
  /*background-color: #F2FFFC;*/
}
/*** foto mobile**/
.imagem{
    text-align: center;
    background-image: url("../img/money.jpg") ;
    height: 800px;
    background-repeat: no-repeat;
    background-position: center;
}
@media  only screen and (max-width: 320px){
  .img{
    width: 90%;


}
a{
  text-align: center;
}

footer{
  text-align: center;
}
.padding p,h3{
  color:gray;
}
