/* Empty. Add your own CSS if you like */
margin*{
  padding: 0;
  margin: 0;
}

.table-responsive-sm{
  margin-top: 15px;
}

.required:after {
  content:" *";
  color: red;
}

.has-error-msg{
  margin-top:  4px;
  font-size: 12px;
}
.btn-success1 {
  color: #fff;
  background-color: #33cd5f;
  border-color:  #33cd5f;
}
